{% extends 'base.html' %}

{% block main %}
{% endblock %}

{% block project %}
{% endblock %}

{% block content %}
    <div class="page-heading">
        <br>
    </div>
    <div class="page-content">
        <section class="row col-12 mx-auto">
            <div class="row col-6 offset-3 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="LoginTitle">密碼重置</h3>
                        <form action="{% url 'user_password_reset' %}" method="POST" class="loginForm col"
                              id="loginform">
                            <div class="row mx-auto">
                                {% csrf_token %}
                                {% if user_self %}
                                    <div class="mb-3">
                                        <label class="form-label">舊密碼</label>
                                        <input type="password" name="old_password" id="old_password"
                                               class="form-control">
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label class="form-label">新密碼</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">確認密碼</label>
                                    <input type="password" name="check_password" id="check_password"
                                           class="form-control">
                                </div>
                                <input type="hidden" value="{{ pk }}" name="pk" id="pk" readonly="readonly">
                                <br>
                            </div>
                            <div class="row mx-auto">
                                <input class="btn btn-primary login col-3 offset-9" type="submit" value="變更"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}