{% load widget_tweaks %}

{% with WIDGET_ERROR_CLASS='is-valid' %}
    <form method="POST" action="{{ request.path }}" class="modal-content" novalidate>
        {% csrf_token %}

        <div class="modal-header">
            <h1>建立教師帳號</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3" style="display:none">
                <label class="form-label">公司代碼</label>
                <input type="text" name="CompanyCode" id="CompanyCode" value="{{ company.CompanyCode }}"
                       readonly="readonly" class="form-control">
            </div>
{#            <div class="mb-3">#}
{#                <label for="{{ form.username.is_for_label }}"#}
{#                       class="form-label">使用者名稱</label>#}
{#                {% render_field form.username class="form-control" placeholder="Jonh" %}#}
{#            </div>#}
            <div class="mb-3">
                <label for="{{ form.email.is_for_label }}" class="form-label">電子郵件</label>
                {% render_field form.email class="form-control" placeholder="example@example.com" %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">儲存</button>
        </div>
    </form>
{% endwith %}