backports.entry-points-selectable==1.1.1
biplist==1.0.3
certifi==2019.9.11
chardet==3.0.4
distlib==0.3.3
Django==2.2.1
docxtpl==0.10.0
ds-store==1.1.2
et-xmlfile==1.0.1
filelock==3.4.0
fire==0.4.0
fonttools==4.34.4
greenlet==1.1.2
idna==2.8
importlib-metadata==4.8.2
jdcal==1.4.1
Jinja2==2.11.2
lxml==4.5.2
mac-alias==2.2.0
MarkupSafe==1.1.1
mysqlclient==1.4.2
numpy==1.21.6
opencv-python==4.6.0.66
openpyxl==2.6.3
pdf2docx==0.5.5
platformdirs==2.4.0
protobuf==3.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMuPDF==1.20.1
PyMySQL==1.0.2
python-docx==0.8.10
python-ldap==3.2.0
pytz==2019.1
requests==2.22.0
scapy==2.4.3
six==1.11.0
SQLAlchemy==1.4.37
sqlparse==0.3.0
termcolor==1.1.0
typing_extensions==4.0.1
urllib3==1.25.6
virtualenv==20.10.0
xlrd==1.2.0
xmltodict==0.13.0
zipp==3.6.0
