{% extends 'base.html' %}
{% load widget_tweaks %}
{% load Template_Filter %}
{% load guardian_tags %}

{% block search %}
    <form action="" method="POST" class="mb-0">
        {% csrf_token %}
        <div class="row mx-auto ">
            <div class="mb-0 col-auto">
                <select name="CompanyCode" class="form-control" id="CompanyCode">
                    <option value="default" selected>搜尋公司名稱</option>
                    {% for company in CompanyList %}
                        {% if company.CompanyCode != 'AA' %}
                            {% get_obj_perms request.user for company as "company_perms" %}
                            {% if 'view_company' in company_perms %}
                                <option value="{{ company.CompanyCode }}">
                                    {{ company.CompanyName }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-0 col-auto">
                <input type="text" name="ProjectName" id="ProjectName" class="form-control" placeholder="搜尋專案名稱">
            </div>
            <div class="mb-0 col-auto">
                <input class="btn btn-outline-primary col-auto" type="submit" value="搜尋">
            </div>
        </div>
    </form>
{% endblock %}

{% block content %}
    <div class="page-content">
        <section class="row mx-auto">
            <h1 class="mb-4">課程列表</h1>
            {% comment %}
            <div class="row mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4>搜尋列</h4>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row align-items-end mx-auto">
                                <div class="mb-3 col-3">
                                    <label class="form-label">公司名稱</label>
                                    <select name="CompanyCode" class="form-control" id="CompanyCode">
                                        <option value="default" selected>搜尋全部</option>
                                        {% for company in CompanyList %}
                                            {% if company.CompanyCode != 'AA' %}
                                                {% get_obj_perms request.user for company as "company_perms" %}
                                                {% if 'view_company' in company_perms %}
                                                    <option value="{{ company.CompanyCode }}">
                                                        {{ company.CompanyName }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3 col-3">
                                    <label class="form-label">專案名稱</label>
                                    <input type="text" name="ProjectName" id="ProjectName" class="form-control">
                                </div>
                                <div class="mb-3 col-3">
                                    <input class="btn btn-outline-primary col-auto" type="submit" value="搜尋">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {% endcomment %}
            {% if SearchValue %}
                <div class="row mx-auto">
                    <div class="col-1">
                        <p>已搜尋</p>
                    </div>
                    <div class="col-auto">
                        <p>公司名稱:
                            {% for company in Company %}
                                {% if company.CompanyCode != 'AA' %}
                                    {% get_obj_perms request.user for company as "company_perms" %}
                                    {% if 'view_company' in company_perms %}
                                        {{ company.CompanyName }},
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-auto">
                        <p>專案名稱:{{ ProjectName }}</p>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'project' %}">返回列表</a>
                    </div>
                </div>
            {% endif %}
            {% for company in Company %}
                {% if company.CompanyCode != 'AA' %}
                    {% get_obj_perms request.user for company as "company_perms" %}
                    {% if 'view_company' in company_perms %}
                        <div class="row mx-auto">
{#                            {% if 'AA' in user.groups.all.0.Company.all.0.CompanyCode %}#}
                                <div class="row col-auto col-md-auto">
                                    <div class="card">
                                        <div class="card-body CompanyName">
                                            <h4>課程名稱<br></h4>
                                            <h5>{{ company.CompanyName }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col col-md-1">

                                </div>
{#                            {% endif %}#}
                        </div>
                        <div class="row mx-auto">
                            <div class="card">
                                <div class="card-body table-responsive col-auto">
                                    {% get_obj_perms request.user for company as "company_perms" %}
{#                                    {% if 'exe_company' in company_perms %}#}
{#                                        <div class="row mx-auto">#}
{#                                            <div class="col-1">#}
{#                                                <button type="button" class="btn btn-primary"#}
{#                                                        hx-get="{% url 'add_project' pk=company.pk %}"#}
{#                                                        hx-target="#dialog">#}
{#                                                    新增#}
{#                                                </button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}
                                    <br>
                                    {% if company.ProjectCount != 0 %}
                                        <div class="row mx-auto">
                                            <table class="table table-striped" id="table1" style="text-align:center;overflow-x: auto;
                                                                            white-space: nowrap;">
                                                <thead>
                                                <tr>
                                                    <th>編號</th>
                                                    <th>執行階段</th>
                                                    <th>課程開始日期</th>
                                                    <th>課程結束日期</th>
                                                    <th>查看</th>
{#                                                    {% if perms.socialapp.delete_project %}#}
{#                                                        <th>刪除</th>#}
{#                                                    {% endif %}#}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for project in company.Company.all|dictsort:"ProjectCode" %}
                                                    {% if ProjectName in project.ProjectName or ProjectName is None %}
                                                        {% get_obj_perms request.user for project as 'project_perms' %}
                                                        {% if 'view_project' in project_perms %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ project.ProjectName }}</td>
                                                                <td>{{ project.CalculateStartDate |date:"Y/m/d H:i:s" }}</td>
                                                                <td>{{ project.CalculateEndDate |date:"Y/m/d H:i:s" }}</td>
                                                                                                                                <td>
                                                                    <a href="project/{{ project.ProjectCode }}/"
                                                                       class="btn-sm btn-primary">查看
                                                                    </a>
                                                                </td>
{#                                                                {% if perms.socialapp.delete_project %}#}
{#                                                                    <td>#}
{#                                                                        <button type="button"#}
{#                                                                                hx-get="{% url 'delete_project' pk=project.pk %}"#}
{#                                                                                hx-target="#dialog"#}
{#                                                                                class="btn-sm btn-danger">刪除#}
{#                                                                        </button>#}
{#                                                                    </td>#}
{#                                                                {% endif %}#}
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="row mx-auto">
                                            <h4>待新增</h4>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr class="bg-danger border-2 border-top border-danger">
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if NULL %}
                <div class="row mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h4>尚無課程</h4>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}
