{% load widget_tweaks %}

{% with WIDGET_ERROR_CLASS='is-valid' %}
    <form method="POST" action="{{ request.path }}" class="modal-content" novalidate>
        {% csrf_token %}

        <div class="modal-header">
            <h1>創建執行階段</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="{{ form.CompanyCode.is_for_label }}" class="form-label">課程名稱</label>
                <select name="CompanyCode" class="form-control" id="id_CompanyCode" readonly="readonly">
                    <option value="{{ Company.CompanyCode }}" readonly="readonly" selected>{{ Company.CompanyName }}</option>
                </select>
                <div class="invalid-feedback">{{ form.CompanyCode.errors|first }}</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.ProjectName.is_for_label }}" class="form-label">執行階段名稱</label>
                {% render_field form.ProjectName class="form-control" %}
                <div class="invalid-feedback">{{ form.ProjectName.errors|first }}</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.CalculateStartDate.is_for_label }}"
                       class="form-label">統計開始日期</label>
                {% render_field form.CalculateStartDate class="form-control"%}
                <div class="invalid-feedback">{{ form.CalculateStartDate.errors|first }}</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.CalculateEndDate.is_for_label }}" class="form-label">統計結束日期</label>
                {% render_field form.CalculateEndDate class="form-control" placeholder="2000/01/01 00:00:00" %}
                <div class="invalid-feedback">{{ form.CalculateEndDate.errors|first }}</div>
            </div>
            <div class="mb-3">
                <label for="{{ form.IgnoreSecond.is_for_label }}" class="form-label">統計週期</label>
                {% render_field form.IgnoreSecond class="form-control" placeholder="60(單位:秒)" %}
                <div class="invalid-feedback">{{ form.IgnoreSecond.errors|first }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">儲存</button>
        </div>
    </form>
{% endwith %}